@mixin btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 2px;
}

@mixin btn-hover-shadow {
  box-shadow: 0px 8px 20px -8px var(--primary);
}
@mixin btn-hover-up {
  transform: translateY(-4px);
}

.btn-primary {
  color: #ffffff;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  background-color: var(--primary);
  height: 40px;
  padding: 0px 16px;
  @include btn;
  &:hover {
    @include btn-hover-shadow;
    @include btn-hover-up;
  }
}

.btn-text {
  color: var(--text);
  font-weight: 600;
  border: none;
  border-radius: 4px;
  background-color: var(--dark);
  color: var(--white);
  height: 40px;
  padding: 0px 16px;
  @include btn;
  &:hover {
    // @include btn-hover-shadow;
    @include btn-hover-up;
    background-color: #ffffff10;
    .btn-icon-right {
      transform: translate3d(4px, -4px, 8px) rotate(8deg);
      fill: var(--primary);
    }
  }
}
.text-btn-sml {
  font-weight: 400;
  border: none;
  height: 26;
  font-size: small;
  &:hover {
    span,
    i {
      color: var(--primary) !important;
      text-decoration: underline;
    }
  }
}
// NAVBAR START

.navItem {
  color: var(--text);
  padding: 10px;
  white-space: nowrap;
  &:hover {
    background-color: var(--dark);
  }
}
.navActive {
  color: var(--text);
  padding: 10px;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
  text-decoration-color: var(--primary);
  white-space: nowrap;
  &:hover {
    background-color: var(--dark);
  }
}

// NAVBAR END

.brandsIcon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon {
    color: var(--outline);
    margin: auto;
    display: block;
  }
  &:hover {
    background-color: var(--primary10);
    border-radius: 100px;
    .icon {
      color: var(--primary);
    }
  }
}

.footerLink {
  color: var(--white);
  text-decoration: none;
  font-size: medium;
  width: fit-content;
  margin-left: 10px;
  margin-bottom: 5px;
  &:hover {
    color: var(--white);
    text-decoration: underline;
    text-decoration-color: var(--primary);
  }
}
.footerLinkBtn {
  color: var(--white);
  text-decoration: none;
  font-size: medium;
  width: fit-content;
  padding: 0px 10px;
  &:hover {
    color: var(--primary);
    text-decoration: underline;
  }
}

.paginationActive {
  background-color: var(--primary); color: #fff;
}

.btn-text2 {
  display: flex;
  width: fit-content;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  font-size: large;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: var(--primary);
  text-underline-offset: 5px;
  .hover {
    display: none;
  }
  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--primary);
    text-underline-offset: 5px;
    .hover {
      display: block;
    }
  }
}

.btnPR {
  color: #fff;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0px 20px;
  height: 40px;
  // width: fit-content;
  border-radius: 15px;
  &:hover {
    @include btn-hover-shadow;
    @include btn-hover-up;
  }
}
.btnSEC {
  color: var(--text);
  background-color: transparent;
  border: 1px solid var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0px 20px;
  height: 40px;
  border-radius: 15px;
  &:hover {
    background-color: var(--primary);
    color: #fff;
    @include btn-hover-shadow;
    @include btn-hover-up;
  }
}
.hamburger {
  display: none;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 3px 0;
}

.menuItems {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: rgba(249,249,249,0.98);
    position: absolute;
    top: 60px;
    left: 0;
    padding: 24px;
  }

  .menuItems.open {
    display: flex;
    // height: 100%;
  }
}
